.footer-container {
  background-image: url(../images/footer.jpg);
  width: 100%;
  height: 460px;
}
.footer {
  max-width: $widthLarge;
  margin: 0 auto;
  padding-top: 100px;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 4px;
    }
  }
  .footer-hope {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mob {
      margin: 4px;
      font-size: 24px;
    }
  }
}
