<div class="banner-container" >
  <div class="banner" >
    <div class="banner-left" >
      天心月圆，纪念张大经老师
    </div>
      <div class="banner-right" >
        <img src="/images/icon/banner_r.png" alt="" >
      </div>
  </div>
  <div class="nav" >
    <ul class="nav-item" >
      <li><a href="/pages/subcontent.html" >生平简历</a></li>
      <li><a href="/pages/subcontent.html" >科研成果</a></li>
      <li><a href="/pages/literature.html" >文学作品</a></li>
      <li><a href="/pages/calligraphy.html" >书法作品</a></li>
      <li><a href="/pages/literature.html" >教书育人</a></li>
    </ul>
  </div>
  <div class="stripe" >
  </div>
</div>
