/**
  * 颜色变量规则：
  * color+颜色+深度
  * D M L分别表示深(deep)、中、浅(light)
  * LL表示更浅
  **/
$colorWhite: #fff;
$colorBlack: #000;
$colorYellowD: #e0a50a;
$colorYellowM: #e7d1b5;
$colorYellowL: #fdf8ed;
$colorBrown: #cc9a65;
$colorRed: #a92037;

